body {
  background-color: white;
  
}
.homepage-div {
  background-color: white;
  height: 500px;
}

.aboutpage-div {
  background-color: white;
  height: 500px;

}

.contactpage-div {
  background-color: white;
  height: 500px;

}

.projectspage-div {
  background-color: white;
  height: 500px;

}